<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<ul class="list-group">
					<li class="list-group-item active" th:text="${pedido.nombre}"></li>
					<li class="list-group-item" th:text="${pedido.ruc}"></li>
					<li class="list-group-item" th:text="${pedido.fecha}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(pedido.pedidosdetalles)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas asignadas para el pedido ' + ${pedido.nombre} + ' ' + ${pedido.ruc}"></div>
					
				<table th:if="${not #lists.isEmpty(pedido.pedidosdetalles)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Nombre producto</th>
							<th>Cantidad</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detalle: ${pedido.pedidosdetalles}">
							<td th:text="${detalle.id}"></td>
							<td th:text="${detalle.nombre}"></td>
							<td th:text="${detalle.cantidad}"></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>